<h1>Stats</h1>
<h3>Jobs Found: <%= @total_jobs %></h3>
<h3>Companies Found: <%= @total_companies %></h3><br>

<h1>Recent Jobs</h1>
<h2>Showing Jobs within <%= params[:days] || 1 %> day(s)</h2>
<h3>Find Jobs within: </h3>
<%= form_tag 'dashboard', method: :get do %>
  <%= select_tag :days, options_for_select((1..10).to_a, params[:days]) %> day(s)<br>
  <%= submit_tag 'Search' %>
<% end %>
<h1>Listing Jobs with Company Info</h1>

<% @jobs_with_company_info.each do |job| %>
  <%= render job %>
<% end %>

<h1>Listing Jobs without Company Info</h1>

<% @jobs_without_company_info.each do |job| %>
  <%= render job %>
<% end %>

