<div class="stats">
  <h2 class="title">Stats</h2>
  <ul class="stats-list">
    <li><h3><%= link_to "Jobs Found: #{@total_jobs}", jobs_path %></h3>
    <li><h3><%= link_to "Companies Found: #{@total_companies}", companies_path %></h3>
    <li><h3><%= link_to "People Found: #{@total_people}", people_path %></h3>
  </ul>
</div>

<%= form_tag 'dashboard', method: :get do %>
  <h3><%= label_tag 'Show Jobs from Companies with:' %></h3>
  <%= label_tag 'information' %>
  <%= check_box_tag :with_info %>
  <%= label_tag 'without information' %>
  <%= check_box_tag :without_info %>
  <%= label_tag 'all' %>
  <%= check_box_tag :all %>
  <%= submit_tag 'Search' %>
<% end %>

<h4><%= Job.per_page %> per page</h4>
<div class="module">
  <% if params[:all] %>

    <h2>Listing All Jobs</h2>
    <%= will_paginate @recent_jobs %>

    <% @recent_jobs.each do |job| %>
      <%= render job %>
    <% end %>

    <%= will_paginate @recent_jobs %>

  <% elsif params[:with_info] %>

    <h2>Listing Jobs with Company Info</h2>
    <%= will_paginate @recent_jobs %>

    <% @recent_jobs.each do |job| %>
      <%= render job unless job.no_company_info %>
    <% end %>

    <%= will_paginate @recent_jobs %>

  <% elsif params[:without_info] %>

    <h2>Listing Jobs without Company Info</h2>
    <%= will_paginate @recent_jobs %>

    <% @recent_jobs.each do |job| %>
      <%= render job if job.no_company_info %>
    <% end %>

    <%= will_paginate @recent_jobs %>

  <% end %>
</div>
