<!DOCTYPE html>
<html>
  <head>
    <title>GoodPartner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= (button_to 'Dashboard', dashboard_path, method: :get) unless action_name == 'dashboard' %>
    <%= yield %>
  </body>
</html>
